{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			<div class="meta">
				{{ with .Date }}Posted on {{ dateFormat "Jan 2, 2006" . }}{{ end }}
				{{ if .Draft }}<span class="draft-label">DRAFT</span>{{ end }}
			</div>
		</div>

		{{ with .Params.tldr }}
		<div class="tldr">
			{{ . }}
		</div>
		{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><i data-feather="tag"></i><a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}