<footer>
  {{ with .Site.Copyright }}<span>{{ . }} {{ dateFormat "2006" now }}</span>
  <span class="border"></span>{{ end }}
  <span><a href="https://gitlab.com/georgehosono/jughead">Jughead Theme</a></span>
  <span class="border"></span>
  <span>Built with
    <a href="https://gohugo.io">Hugo</a></span>
  {{- range $index, $key := .Site.Params.Social -}}
  <span class="border"></span>
  <a class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
  {{- end -}}
</footer>

{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}