<head>
	<meta charset="utf-8" />
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} | Home </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ .Site.Params.favicon }}</text></svg>">
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	<meta property="og:image" content="{{ .Site.Params.og_image }}" />
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<script src="/js/themetoggle.js" defer></script>
	{{ if .Site.Params.useCDN | default false -}}
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else -}}
	<script src="/js/feather.min.js"></script>
	{{ end }}
	{{ $fontstyle := resources.Get "css/fonts.css" | fingerprint }}
	<link href="{{ $fontstyle.Permalink }}" rel="stylesheet">

	{{ $style := resources.Get "css/main.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}" />

	{{ $colors := resources.Get "css/colors.css" | fingerprint }}
	<link id="colors" rel="stylesheet" type="text/css" href="{{ $colors.Permalink }}">

	{{ $code_style := resources.Get "css/code.css" | fingerprint }}
	<link id="code" rel="stylesheet" type="text/css" href="{{ $code_style.Permalink }}">

	<!-- Custom CSS style get applied last -->
	{{- if isset .Site.Params "customCSS" }}
	{{ range .Site.Params.customCSS }}
	{{ $customstyle := resources.Get . | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $customstyle.Permalink }}">
	{{ end }}
	{{- end -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else if (hasPrefix . "<script")}} {{ .| safeHTML }} {{- else }} <script src="{{ . }}">
	</script>
		{{- end }}
		{{- end }}
</head>