<header>
	<div class="main">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	</div>
	<nav>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		<span class="border"></span>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
		<button id="dark-mode-toggle">
			<i id="dark-mode-icon" data-feather="moon"></i>
		</button>
		{{ end }}
	</nav>
</header>